__pycache__/
.ipynb_checkpoints/
*.py[cod]
*.log
*.tmp
*.h5
*.pt
*.pkl
*.npy
*.npz
*.png
*.key
*.pem
*.crt
*.p12
*.csv
*credentials*.json
.DS_Store
Thumbs.db
venv/
.env
.vscode/
.idea/
temp/
secrets/
secret_*.py
*_token.py


rotation_frames/
rotation_sphere/
GAT.ipynb
GAT1.ipynb
